.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin:80px 170px;
}
.about-title{
   
    position: relative;
}
.about-title h1{ 
    display: flex;
    font-size:80px ;
    font-weight:600 ; 
    padding: 0 30px;
}
.about-title img{ 
   position: absolute;
   /* padding-left:50px; */
   bottom: 0;
   right: 0;
   z-index: -1;
}
.about-section{
    display: flex;
    gap:80px;

}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.profile1{
    width:25rem;
    height: 30rem;
    border-radius: 5rem;
    display:flex;
}
.about para{
    display:flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
    font-weight:400;
}
.about-skills{
    display:flex;
    flex-direction: column;
    gap:30px;

}

.about-skill{
    display:flex;
    align-items: center; 
    gap:50px;
    transition: 0.3s;
}

.about-skills p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}


.about-skills hr{
   outline: none;
   border: none;
   width:50%;
    height: 8px;
    background:linear-gradient(267deg, #DA7C25 0.36% ,#B923E1 102.06%) ;;    
}
.about-achievements{
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}

.about-achievement h1{
    font-size:60px;
    font-weight:700;
    background:linear-gradient(267deg, #DA7C25 0.36% ,#B923E1 102.06%) ;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p {
    font-size: 15px;
    font-weight: 500;
}
.about-skill:hover{
    transform:scale(1.2);
    transition: 0.5s;
}
.about-achievement:hover{
    transform:scale(1.5);
    transition: 0.5s;
}

@media(max-width:768px){
   .about{ 
    gap:80px;
    margin:50px 70px;
    align-items: 'start';

    }
    .about-title h1{
        font-size: 50px;
        padding: 0;

    }
    .about-title img{
        width:130px;
        right:-20px; 
         
    }
    .about-section{
        flex-direction: column;
    }
    .about left{
        display: none;
    }
    .about-para{
        font-size: 180x;
        line-height: 32px;

    }
    .about-skill{
        gap:20px;
        align-items: center;

    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 1fr;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap:10px
    }
    .about-achievement h1{
       font-size:34px;
       font-weight: 700;
    }
    .about-achievement p{
        font-size: 16px;
        text-align: center;
    }
    .profile1{
        padding-left:20px
    }
}